<!DOCTYPE html>
<html>
<head>
	<title>Campgrounds</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
         
                <ul class="nav justify-content-end">
                    <% if(!currentUser){ %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            
<div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Campgrounds</h1>
                <p>An online Bazar of IIT-D where buyers meet sellers </p>
                </br>
                <a class="btn btn-primary" href="/campgrounds/new">Add a new Item</a>
            </div>
        </header>
        
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        
        <% for(var i = 0 ;i<campgrounds.length;i++) { %>
                
                <div class="col-md-3 col-sm-6">
                        <div>
                        <img class="img-thumbnail" src = "<%= campgrounds[i].image %>" >
                        </div>
                        <div class="caption">
                        <h4><%=campgrounds[i].name%></h4>
                        </div>
                        <a class="btn btn-primary" href="/campgrounds/<%=campgrounds[i]._id%>">More Info</a>
                </div>
                
        <% }
        %>
        </div>
</div>

</body>
</html>